[submodule "greenhouse-data-collector"]
	path = greenhouse-data-collector
	url = https://github.com/N-essuno/greenhouse-data-collector
[submodule "SemanticObjectsOrig"]
	path = SemanticObjects
	url = https://github.com/smolang/SemanticObjects.git
[submodule "Setup-Instructions"]
	path = Setup-Instructions
	url = https://github.com/eduardz1/Setup-Instructions
[submodule "smol_scheduler"]
	path = smol_scheduler
	url = https://github.com/N-essuno/smol_scheduler
