[submodule "influx_greenhouse_py"]
	path = influx_greenhouse_py
	url = https://github.com/N-essuno/influx_greenhouse_py.git
[submodule "SemanticObjects"]
	path = SemanticObjects
	url = https://github.com/smolang/SemanticObjects.git
